<div class="page-title">
  <h1>Nos services</h1>
</div>
<%= render "/shared/location" %>
<%= render "/shared/images" %>
<div class="comment"> 
  <p>Découvrez nos differents services. Nous offrons des chambres de différents standing</p>
  <p>Nous avons aussi un restaurant qui propose des mets d'ici et d'ailleurs pour le plus grand bien de vos papilles gustatives et un confort assuré.</p>
</div>
<%= render "/shared/services-card" %>
