<div class="card-container">
  <div class="card-container-top">
    <div class="explanation">
      <h3>A propos</h3>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, dolorum quae! Inventore unde molestias ipsa facilis. Omnis architecto incidunt perspiciatis.
    </div>
    <div class="image-card">
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= image_tag "carousel1.jpg", class: "d-block w-100", alt: "First slide" %>
          </div>
          <div class="carousel-item">
            <%= image_tag "carousel2.jpg", class: "d-block w-100", alt: "First slide" %>
          </div>
          <div class="carousel-item">
            <%= image_tag "carousel3.jpg", class: "d-block w-100", alt: "First slide" %>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
  <div class="card-container-bottom">
    <%= link_to "Faire une reservation", reservations_new_path, class: "btn btn-primary", id: "reserver" %>
  </div>
</div>
