<div class="card-container">
  <div class="card-container-top">
    <div class="image-card">
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= image_tag "carousel1.jpg", class: "d-block w-100", alt: "First slide" %>
          </div>
          <div class="carousel-item">
            <%= image_tag "carousel2.jpg", class: "d-block w-100", alt: "First slide" %>
          </div>
          <div class="carousel-item">
            <%= image_tag "carousel3.jpg", class: "d-block w-100", alt: "First slide" %>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <div class="explanation">
      <p>La Résidence Hôtelière Njiah-Daah est un établissement hôtelier trois étoiles situé au cœur de la région de l'Ouest du Cameroun, dans le Groupement Foto, arrondissement de Dschang. Construite selon les normes établies par le Ministère du Tourisme et des Loisirs, cette résidence garantit confort, sécurité et une expérience haut de gamme.
        Avec un personnel qualifié et accueillant, elle incarne l’excellence en matière d’hospitalité dans le département de la Menoua. Chaque aspect, des chambres meublées à la restauration, est conçu pour répondre aux besoins variés de sa clientèle. Disponibilité, professionnalisme et respect des standards internationaux font de la Résidence Hôtelière Njiah-Daah une référence incontournable pour les séjours et événements dans la région.</p>
    </div>
  </div>
  <div class="card-container-bottom">
    <%= link_to "Faire une reservation", reservations_new_path, class: "btn btn-primary", id: "reserver" %>
  </div>
</div>
