<div class="card-container">
  <div class="card-container-top">
    <div class="image-card">
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= image_tag "service-traiter.jpg", class: "d-block w-100", alt: "First slide" %>
            <div class="carousel-caption d-block">
              <h5>Service Traiteur</h5>
            </div>
          </div>
          <div class="carousel-item">
            <%= image_tag "chambre.jpg", class: "d-block w-100", alt: "First slide" %>
            <div class="carousel-caption d-block">
              <h5>Sejour</h5>
            </div>
          </div>
          <div class="carousel-item">
            <%= image_tag "appartement.jpg", class: "d-block w-100", alt: "First slide" %>
            <div class="carousel-caption d-block">
              <h5>Appartement meublé</h5>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="explanation">
      <h2 class="card-title">Services Premium</h2>
      <div class="card-text"> La Résidence Hôtelière Njiah-Daah propose une gamme variée de services premium pour offrir une expérience inégalée : <br>
        <br>
        <b>Hébergement haut standing :</b> 21 chambres, 04 studios et 02 appartements meublés avec des équipements modernes, incluant des cuisines équipées et des salons confortables. <br>
        <br>
        <b>Restauration et traiteur :</b> Un restaurant spacieux de 50 places propose des mets issus des quatre aires culturelles du Cameroun, ainsi que des cuisines africaine, américaine et européenne. <br>
        <br>
        <b>Divertissement :</b> Un snack-bar élégant et convivial, avec un choix de boissons et de liqueurs de qualité. <br>
        <br>
        <b>Sécurité et confort :</b> Parking gardé 24h/24, vidéosurveillance, et petit-déjeuner continental inclus. <br>
        <br>
        Avec des options de réservation simplifiées (appel, WhatsApp, e-mail, réseaux sociaux), la résidence met tout en œuvre pour garantir une expérience personnalisée et mémorable. </div>
    </div>
  </div>
  <div class="card-container-bottom">
    <%= link_to "Decouvre nos services", services_index_path, class: "btn btn-primary", id: "reserver" %>
  </div>
</div>
