<footer class="text-center text-white footer-styling">
  <!-- Copyright -->
  <div class="text-center p-3 footer-container">
    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
    <p><i class="fa-regular fa-copyright"></i> <span>2025 Residence Hoteliere Njiah Daah</span></p>
    <p>design by: Evolved</p>
  </div>
  <!-- Copyright -->
</footer>
