<footer class="text-center text-white footer-styling">
  <div class="footer-container">
    <div class="social-link">
      <a href="https://www.facebook.com/share/1Av6WX4RkC/?mibextid=wwXIfr" target="_blanc"><i class="fa-brands fa-facebook-f"></i></a>
      <a href="#"><i class="fa-brands fa-twitter"></i></a>
      <a href="#"><i class="fa-brands fa-instagram"></i></a>
    </div>
    <p><i class="fa-regular fa-copyright"></i> <span>2025 Résidence Hôtelière Njiah Daah</span></p>
    <p>Design by: Evolved</p>
  </div>
</footer>
