<div class="home-header">
  <div class="main-header">
    <p id="hotel-ranking">
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
      <i class="fa-regular fa-star"></i>
      <i class="fa-regular fa-star"></i>
    </p>
    <h2>Votre confort, notre satisfaction...  </h2>
    <%= link_to "Reserver", reservations_new_path, class: "btn btn-primary", id: "reserver" %>
  </div>
</div>
