<div class="card-container">
  <div class="card-container-top">
    <div class="explanation">
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat deleniti sint libero voluptates cupiditate aliquid incidunt cumque qui quas facere!</p>
    </div>

    <div class="video-container">
      <video class="video" controls>
        <source src="video1.mp4" type="video/mp4">
        <source src="video.ogg" type="video/ogg">
      </video>
    </div>
  </div>

 
</div>
