<div class="card-container">
  <div class="card-container-top">
    <div class="explanation">
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat deleniti sint libero voluptates cupiditate aliquid incidunt cumque qui quas facere!</p>
    </div>

    <div class="video-container">
      <%= video_tag "info-video.mp4", :size => "320x240", :controls => true , class:"video"  %>
    </div>
  </div>

 
</div>
