<div class="information-container">
  <div class="text-side card-text">
    <h3 class="section-title">Dernières Actualités</h3>
    <div class="card-text">
      Restez informé avec nos dernières nouvelles et actualités. Découvrez les événements récents, les développements économiques, politiques et culturels qui façonnent notre monde.
    </div>
  </div>
  <div class="video-side">
    <%= video_tag "info-video.mp4", :size => "320x240", :controls => true , class:"video" %>
  </div>
</div>
