<div class="location">
  <p>Situé a Foto, Dschang, Cameroun</p>
  <p>Situé apres le musée des civilisations de la menoua,</p>
  <p>Apres le Carrefour Albert Camus.</p>
  <p><i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-regular fa-star"></i></p>
  <div>
    <a href="tel:+237675721584", class="btn btn-info", id="appelle">Appelle-nous</a>
    <%= link_to "Reserver", reservations_new_path, class: "btn btn-primary", id: "reserver" %>
  </div>
</div>
