<div class="location">
  <div class="location-info">
    <p>
      Situé a Foto, Dschang, Cameroun
      non loin du musée des civilisations de la Mœenoua,
      Apres le Carrefour Albert Camus.
    </p>

  </div>
  <p><i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-regular fa-star"></i></p>
  <div class="contact-me">
    <a href="tel:+237675721584", class="btn btn-info", id="appelle">Appelle-nous</a>
    <%= link_to "Reserver", reservations_new_path, class: "btn btn-primary", id: "reserver" %>
  </div>
</div>
