<div class="card-container">
  <div id="coordonnees">
    <div class="coordonnees-title">
      <h3 class="section-title">Contacts</h3>
    </div>
    <div class="coordonnees-contain">
      <div class="coordonnees-contain-left">
        <p><i class="fa-solid fa-location-dot"></i> Cameroun, Dschang, Groupement Foto, Apres le carrefour Albert Camus</p>
        <p><i class="fa-solid fa-envelope"></i> njiahdaah.hotel@gmail.com</p>
      </div>
      <div class="coordonnees-contain-right">
        <p><i class="fa-solid fa-phone-volume"></i> +237 699 32 58 93 - +237 675 72 15 84</p>
        <p><a href="https://wa.me/+237675721584" class="btn-whatsapp" target="_blank"><i class="fa-brands fa-square-whatsapp"></i> Clique ici et écris-nous sur WhatsApp</a></p>
      </div>
    </div>
  </div>
  <div id='map'></div>
</div>
<script>
  mapboxgl.accessToken = 'pk.eyJ1Ijoicmlib3QtZmxldXJ5MDkiLCJhIjoiY20zZGF4bnowMDFicDJycHp3Njg4dWtpNyJ9.4okW20O1i3JkgfgdDPQqrg'; // Remplacez par votre clé API Mapbox
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11', // Style de la carte
    center: [10.072236, 5.453019], // Coordonnées de l'hôtel (longitude, latitude)
    zoom: 15
  });

  var marker = new mapboxgl.Marker()
    .setLngLat([10.072236, 5.453019]) // Coordonnées de l'hôtel (longitude, latitude)
    .addTo(map);
</script>
