<div class="container">
  <div class="row notification-card">
    <h2>Reservation reussie <i class="fa-solid fa-thumbs-up"></i></h2>
    <p>Tu vas recevoir un mail de confirmation afin d'effectuer le paiement <i class="fa-solid fa-hourglass-start"></i></p>
    <div class="btn-container"> <a href="/" class="btn btn-primary btn-style">Terminer</a> </div>
  </div>
</div>
