<div class="container">
  <div class="row notification-card">
    <h2>Commentaire ajouté avec succès ! <i class="fa-solid fa-thumbs-up"></i></h2>
    <p>Merci pour votre commentaire. Nous l'avons bien reçu.</p>
    <div class="btn-container"> <a href="/" class="btn btn-primary btn-style">Terminer</a> </div>
  </div>
</div>
