<div class="card-container">
  <div class="plus-container">
    <div class="plus">
      <%= image_tag "internet.jpg", class: "avatar", alt: "internet" %>
      <h3>Internet</h3>
    </div>
    <div class="plus">
      <%= image_tag "parking.jpg", class: "avatar", alt: "internet" %>
      <h3>Parking</h3>
    </div>
    <div class="plus">
      <%= image_tag "snack-bar.jpg", class: "avatar", alt: "internet" %>
      <h3>Snack bar</h3>
    </div>
  </div>
</div>
