<div class="card-container">
  <div class="plus-container">
    <div class="plus">
      <%= image_tag "internet.jpg", class: "avatar", alt: "internet" %>
      <h3>Internet Haut Débit</h3>
    </div>
    <div class="plus">
      <%= image_tag "parking.jpg", class: "avatar", alt: "parking" %>
      <h3>Parking Sécurisé</h3>
    </div>
    <div class="plus">
      <%= image_tag "snack-bar.jpg", class: "avatar", alt: "snack bar" %>
      <h3>Snack Bar Convivial</h3>
    </div>
  </div>
</div>
