.card-container {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px;
  background-color: var(--color3);
  border-radius: 10px;
  color: var(--color1);
  position: relative;

  h3 {
    font-weight: 900;
  }

  .card-infos {
    border-radius: 10px;
    box-shadow: inset 5px -4px 16px 0px var(--color1);

    img {
      border-radius: 10px;
    }
  }

  .card-container-top {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;

    @media screen and (min-width: 575px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .image-card {
      #carouselExampleIndicators {
        height: 100%;

        .carousel-inner {
          height: 100%;

          .carousel-item {
            height: 100%;

            img {
              height: 100%;
            }

            .carousel-caption {
              display: block !important;
            }
          }
        }
      }
    }

    .explanation {
      padding-top: 10px;

      p {
        text-align: justify;
      }
    }
  }

  .card-container-bottom {
    margin-top: 15px;

    #reserver {
      color: var(--color2);
      background-color: var(--color1);
      border: none;
      width: 100%;
      border-radius: 10px;

      @media screen and (min-width: 575px) {
        font-size: 20px;
        width: 30%;
        font-weight: 900;        
        display: block;
        margin: 0 auto;

        &:hover{
          transition: 0.1s;
          background-color: var(--color4);
          color: white;
          border-radius: 15px;
        }
      }
    }

  }

  .plus-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    @media screen and (min-width: 575px) {
      gap : 3rem
    }


    .plus {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      justify-content: center;
      justify-items: center;

      @media screen and (min-width: 575px) {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        align-items: center
      }

      img{

        @media screen and (min-width: 575px) {
          height: 80px;
          width: 130px;
        }
      }

      h3 {
        padding-top: 5px;
      }
    }
  }

  .product-card {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: var(--color1);

    h5 {
      font-weight: 900;
    }

    p {
      font-size: 0.8rem;

      span {
        font-weight: 900;
      }
    }

    #reserver {
      color: var(--color2);
      background-color: var(--color1);
      border: none;

      @media screen and (min-width: 575px) {
        font-size: 20px;
        font-weight: 900;

        &:hover{
          transition: 0.1s;
          background-color: var(--color4);
          color: white;
          border-radius: 5px;
        }
      }
    }
  }
}
