.card-container {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px;
  background-color: var(--color3);
  border-radius: 10px;
  color: var(--color1);
  position: relative;

  h3 {
    font-weight: 900;
  }

  .card-infos {
    border-radius: 10px;
    box-shadow: inset 5px -4px 16px 0px var(--color1);

    img {
      border-radius: 10px;
    }
  }

  .card-container-top {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;

    @media screen and (min-width: 575px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .image-card {
      #carouselExampleIndicators {
        height: 100%;

        .carousel-inner {
          height: 100%;

          .carousel-item {
            height: 100%;

            img {
              height: 100%;
            }

            .carousel-caption {
              display: block !important;
            }
          }
        }
      }
    }

    .explanation {
      padding-top: 10px;

      p {
        text-align: justify;
      }
    }
  }

  #reserver {
    color: var(--color2);
    background-color: var(--color1);
    border: none;
    width: 100%;
    border-radius: 10px;

    @media screen and (min-width: 575px) {
      &:hover {
        transition: 0.1s;
        background-color: var(--color4);
        color: white;
        border-radius: 12px;
      }
    }
  }

  .card-container-bottom {
    margin-top: 15px;

    #reserver {
      @media screen and (min-width: 575px) {
        font-size: 20px;
        width: 30%;
        font-weight: 900;
        display: block;
        margin: 0 auto;

        &:hover {
          transition: 0.1s;
          background-color: var(--color4);
          color: white;
          border-radius: 12px;
        }
      }
    }
  }

  .plus-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    @media screen and (min-width: 575px) {
      gap: 3rem;
    }

    .plus {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      justify-content: center;
      justify-items: center;

      @media screen and (min-width: 575px) {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        align-items: center;
      }

      img {
        @media screen and (min-width: 575px) {
          height: 80px;
          width: 130px;
        }
      }

      h3 {
        padding-top: 5px;
      }
    }
  }

  .product-card {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: var(--color1);

    h5 {
      font-weight: 900;
    }

    p {
      font-size: 0.8rem;

      span {
        font-weight: 900;
      }
    }
  }

  .video-container {
    .video {
      width: 100%;
      @media screen and (min-width: 575px) {
        height: 400px;
      }
    }
  }
}

.home-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: image-url("vueDeFace3.jpg") center/cover no-repeat;
  margin-top: 10px;
  height: 40rem;
  color: var(--color2);
  padding: 50px;

  @media screen and (min-width: 575px) {
    margin-top: -45px;
  }

  .main-header {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }
  #hotel-ranking {
    display: block;
    font-size: 2rem;
    text-align: center;
    color: var(--color2);
    @media screen and (min-width: 575px) {
      font-size: 3rem;
    }
  }

  h1 {
    @media screen and (min-width: 575px) {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }

  #reserver {
    background-color: var(--color1);
    font-size: 1rem;
    border: 1px solid var(--color1);
    letter-spacing: 3px;
    text-transform: uppercase;
    border-radius: 10px;

    user-select: none;
    cursor: pointer;
    transition: 0.2s;
    display: block;
    width: 40%;
    margin: 0 auto;
    margin-top: 2rem;

    &:hover {
      background-color: var(--color4);
    }
    @media screen and (min-width: 575px) {
      padding: 15px;
    }
  }
}
