.compte {
  margin-top: 20px;

  h2 {
    font-weight: 900;
    text-align: center;
    color: var(--color1);
  }
}

#connexion,
#creation,
#reinitialisation,
#reset {
  display: block;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  color: var(--color2);
  background-color: var(--color1);
  border: none;
  width: 100%;
  border-radius: 10px;
}
