.footer-styling {
  margin-top: 10px;
  background-color: var(--color1);
}

.footer-container {
  font-family: "josefin-bold", sans-serif;

  i {
    color: var(--color2);
  }

  a {
    @media screen and (min-width: 575px) {
      font-size: 35px;
      &:hover {
        color: var(--color1);
      }
    }
  }
}
