form {
  margin-top: 20px;

  label {
    color: var(--color1);

  }

  select,
  input,
  button {
    font-family: "josefin-regular", sans-serif;
  }

  .button-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #annuler {
    color: var(--color2);
    background-color: rgb(237, 94, 94);
    border: none;
  }

  #reserver {
    color: var(--color2);
    background-color: var(--color1);
    border: none;
  }

  #commentaire {
    background-color: var(--color1);
    width: 100%;
    border: none;

    @media screen and (min-width: 575px) {
      border-radius: 5px;
  
      &:hover{
        background-color : var(--color4);
        transition: 0.2s;
      }
    }

  }
}

.page-title, .row {

  @media screen and (min-width: 575px) {
    display: block;
    width: 60%;
    margin: 0 auto;

  }
}

.page-title{

  @media screen and (min-width: 575px) {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  h1{
    @media screen and (min-width: 575px) {
      font-size: 20px;
    }
  }
}

.row{

  @media screen and (min-width: 575px) {
    border-radius: 15px;
    border : 1px solid var(--color1);
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

}

#reserver{
  @media screen and (min-width: 575px) {
    &:hover{
      background-color: var(--color4);
      transition: 0.2s;
    }
  }
}

#annuler{
  @media screen and (min-width: 575px) {
    &:hover{
      background-color: #f32f2f;
      transition: 0.2s;
    }
  }
}