.location {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "josefin-regular", sans-serif;

  p {
    font-weight: 900;
    font-size: 1rem;

    i {
      color: var(--color1);
    }
  }

  #reserver {
    color: var(--color2);
    background-color: var(--color1);
    border: none;
  }

  #appelle {
    color: var(--color2);
  }
}

.images-card {
  img {
    border-radius: 10px;
  }
}
