.navbar-menu {
  width: 70% !important;
  overflow: hide;

  @media screen and (min-width: 575px) {
    margin-left: 5%;
  }


  ul{

    @media screen and (min-width: 575px) {
      display: flex;
      justify-content: space-around;
      width: 70%;
    }
  }

  li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;

    i {
      color: rgb(123, 94, 94);

      @media screen and (min-width: 575px) {
        display: none;
      }
    }

    a {
      color: rgb(123, 94, 94);
      font-weight: 900;

      @media screen and (min-width: 575px) {
        color : var(--color3);
        color: var(--color2);
        text-align: center;

        &:hover{
          transition: 0.2s;
          background: var(--color2);
          font-weight: bold;
          border-radius: 5px; 
        }
      }
    }
  }
}

.menu-image {
  padding-left: 25%;
}

#badge-link {
  display: flex;
  justify-content: center;
  align-items: center;
}
