#reserverButton {
  background-color: var(--color1);
  border: none;
  transition: 0.5s ease;

  &:hover {
    transform: scale(1.2);
  }
}

#annuler {
  transition: 0.5s ease;

  &:hover {
    transform: scale(1.2);
    background-color: red;
  }
}
