// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

@font-face {
  font-family: "josefin-bold";
  src: url(../fonts/JosefinSans-Bold.ttf);
}

@font-face {
  font-family: "josefin-regular";
  src: url(../fonts/JosefinSans-Regular.ttf);
}

@font-face {
  font-family: "josefin-italic";
  src: url(../fonts/JosefinSans-Italic.ttf);
}

:root {
  --color1: rgb(123, 94, 94);
  --color2: white;
  --color3: rgb(217, 217, 217);
  --color4: #572515;
  --media-query-limit1: 575px;
}

* {
  font-family: "josefin-regular", sans-serif;
  box-sizing: border-box;
}

h2 {
  font-family: "josefin-regular", sans-serif;
  font-size: 1rem;
}

a {
  color: var(--color1);

  i {
    font-weight: 900;
  }
}

#greetings-user {
  font-size: 1.3rem;
  font-weight: 900;
  margin-top: 0px;
}

#hotel-ranking {
  display: none;
  @media screen and (min-width: 575px) {
    display: block;
    margin-top: 4rem;
    text-align: center;
    color: var(--color1);
  }
}
