// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

@font-face {
  font-family: "josefin-bold";
  src: url(../fonts/JosefinSans-Bold.ttf);
}

@font-face {
  font-family: "josefin-regular";
  src: url(../fonts/JosefinSans-Regular.ttf);
}

@font-face {
  font-family: "josefin-italic";
  src: url(../fonts/JosefinSans-Italic.ttf);
}

:root {
  --color1: rgb(123, 94, 94);
  --color2: white;
  --color3: rgb(217, 217, 217);
}

* {
  font-family: "josefin-regular", sans-serif;
  box-sizing: border-box;
}

h2 {
  font-family: "josefin-regular", sans-serif;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: var(--color1);

  i {
    font-weight: 900;
  }
}
