<h1>Nouveau Commentaire</h1>
<p><strong>Client :</strong> <%= @commentaire.service.name %></p>
<p><strong>Client :</strong> <%= @commentaire.user.nom %></p>
<p><strong>Email :</strong> <%= @commentaire.user.email %></p>
<p><strong>Commentaire :</strong> <%= @commentaire.contenu %></p>
